* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ebedef;
}
/** Header */
header {
  border: 1px solid black;
  background-color: #496f98;
  font-family: 'Libre Franklin', sans-serif;
}
.main-title {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
  color: #f6f7f9
}
.navbar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.navbar ul li a {
  color: #f6f7f9;
  text-decoration: none;
  font-weight: 100;
}
.navbar ul li a:hover {
  text-decoration: underline;
}
/** Main */
main {
  font-family: 'Source Serif Pro', serif;
  font-weight: 200;
}
.row-2 div div p:nth-child(2), .row-3 div div p:nth-child(2), .row-4 div div p:nth-child(2), .row-5 div div p:nth-child(2) {
  font-weight: 300;
}
/** Row 1 */
.row-1 {
  border: 1px solid black;
  background-color: #f6f7f9;
}
.images-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.p-1, .p-2, .p-3, .p-4 {
  margin-top: 10px;
}
/** Row 2 */
.row-2 {
  border: 1px solid black;
  background-color: #f6f7f9;
}
.row-2 p {
  line-height: 2;
  font-size: 18px;
}
.grid-container-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
}
.grid-container-row-2 .left {
  justify-self: center;
  align-items: center;
  text-align: center;
}
.grid-container-row-2 .left p {
  margin-top: 10px;
}
.grid-container-row-2 .right {
  justify-self: center;
  align-self: center;
  text-align: center;
  max-width: 700px;
}
/** Row 3 */
.row-3 {
  border: 1px solid black;
  background-color: #f6f7f9;
}
.row-3 p {
  line-height: 2;
  font-size: 18px;
}
.grid-container-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
}
.grid-container-row-3 .right {
  justify-self: center;
  align-items: center;
  text-align: center;
}
.grid-container-row-3 .right p {
  margin-top: 10px;
}
.grid-container-row-3 .left {
  justify-self: center;
  align-self: center;
  text-align: center;
  max-width: 700px;
}
/** Row 4 */
.row-4 {
  border: 1px solid black;
  background-color: #f6f7f9;
}
.row-4 p {
  line-height: 2;
  font-size: 18px;
}
.grid-container-row-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
}
.grid-container-row-4 .left {
  justify-self: center;
  align-items: center;
  text-align: center;
}
.grid-container-row-4 .left p {
  margin-top: 10px;
}
.grid-container-row-4 .right {
  justify-self: center;
  align-self: center;
  text-align: center;
  max-width: 700px;
}
/** Row 5 */
.row-5 {
  border: 1px solid black;
  background-color: #f6f7f9;
}
.row-5 p {
  line-height: 2;
  font-size: 18px;
}
.grid-container-row-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
}

.grid-container-row-5 .right {
  justify-self: center;
  align-items: center;
  text-align: center;
}
.grid-container-row-5 .right p {
  margin-top: 10px;
}
.grid-container-row-5 .left {
  justify-self: center;
  align-self: center;
  text-align: center;
  max-width: 700px;
}
/** Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  background-color: #99adc1;
  font-family: 'Source Serif Pro', serif;
}
footer h3 {
  margin-bottom: 5px;
  font-weight: 600;
}
footer p {
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  font-weight: 300;
}
.company, .services, .products, .site-plan, .icons  {
  margin-top: 40px;
  margin-bottom: 40px;
}
.company {
  margin-left: 20px;
}
.site-plan a {
  text-decoration: none;
  color: black;
}
.site-plan a:hover {
  color: #ebedef;
}
.icons {
  letter-spacing: 15px;
}
.fa-facebook-square {
  color: #0c8ef1
}
.fa-instagram {
  background: -webkit-linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/** Necklaces-Pendants-Page */
.necklaces-pendants-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;

  width:1260px;
  height: 2824px;
  margin: 0 auto;
}
.necklaces-pendants-page img {
  height: 300px;
  width: 300px;
}
.necklaces-pendants-page .top, .necklaces-pendants-page .top, .necklaces-pendants-page .top, .necklaces-pendants-page .top {
  margin-top: 40px;
  height: 300px;
}
.necklaces-pendants-page .bottom, .necklaces-pendants-page .bottom, .necklaces-pendants-page .bottom, .necklaces-pendants-page .bottom  {
  margin-bottom: 40px;
}
.necklaces-pendants-page .big-div {
  grid-row: 3/5;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
.necklaces-pendants-page .big-img {
  width: 100%;
  height: 96.2%;
}
.necklaces-pendants-page .big-div-2 {
  grid-row: 6/8;
  grid-column: 3/5;
  width: 100%;
  height: 100%;
}
.necklaces-pendants-page .big-img-2 {
  width: 100%;
  height: 96.2%;
}
.necklaces-pendants-page p {
  font-family: 'Libre Franklin', sans-serif;
}
.necklaces-pendants-page p:hover {
  font-weight: 400;
  cursor:  pointer;
}
/** Rings Page  */
.rings-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;

  width:1260px;
  height: 2824px;
  margin: 0 auto;
}
.rings-page img {
  height: 300px;
  width: 300px;
}
.rings-page .top, .necklaces-pendants-page .top, .necklaces-pendants-page .top, .necklaces-pendants-page .top {
  margin-top: 40px;
  height: 300px;
}
.rings-page .bottom, .rings-page .bottom, .rings-page .bottom, .rings-page .bottom  {
  margin-bottom: 40px;
}
.rings-page .big-div {
  grid-row: 3/5;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
.rings-page .big-img {
  width: 100%;
  height: 96.2%;
}
.rings-page .big-div-2 {
  grid-row: 6/8;
  grid-column: 3/5;
  width: 100%;
  height: 100%;
}
.rings-page .big-img-2 {
  width: 100%;
  height: 96.2%;
}
.rings-page p {
  font-family: 'Libre Franklin', sans-serif;
}
.rings-page p:hover {
  font-weight: 400;
  cursor:  pointer;
}